a {
  outline: none; }

.container {
  width: 90%;
  margin: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 400; }

h2 {
  font-size: 2rem;
  color: #32547a;
  text-align: center;
  font-weight: 400; }

h3 {
  font-size: 1.5rem;
  color: #32547a;
  font-weight: 400; }

h4 {
  font-size: 1.25rem;
  color: #32547a;
  font-weight: 800;
  line-height: 0.8rem;
  margin-bottom: 10px; }

h5 {
  color: #315479;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h6 {
  font-size: 0.7rem;
  color: #3974ca;
  text-transform: uppercase; }

.btn {
  text-transform: uppercase;
  color: #345578;
  font-weight: 600;
  padding: 20px 0;
  width: 240px;
  background-color: #9addfc;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer; }
  .btn:hover {
    background-color: #87d3f7;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.fa-facebook-f {
  color: #2d7ec2; }

.fa-linkedin-in {
  color: #0883be; }

.fa-youtube-square {
  color: #eb5351; }

.fa-twitter {
  color: #2ea8e1; }

.fa-instagram {
  color: #3b83ba; }

.menu__btn {
  outline: none !important;
  border: none !important;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .menu__btn span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #0f89f4; }

.menu__btn span::after, .menu__btn span::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #0f89f4;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.menu__btn span::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px); }

.menu__btn span::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px); }

.menu__btn-active span {
  height: 0; }

.menu__btn-active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu__btn-active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.fixed {
  position: fixed;
  z-index: 999;
  background-color: #057ae1;
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  top: 0; }

#header.fixed .main-header {
  padding: 10px 0; }

#header .main-header {
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s; }

.banner {
  background: #0e88f3; }

.content-top-text {
  width: 45%;
  margin-top: 70px; }
  .content-top-text p {
    color: #d1e6fc;
    line-height: 1.6em;
    margin-bottom: 30px; }

.content-top-text__link {
  display: block;
  text-align: center;
  width: 43%;
  font-size: 0.8rem;
  color: #95c9fb;
  margin-top: 15px; }
  .content-top-text__link:hover {
    color: #fff; }
  .content-top-text__link i {
    margin-left: 5px;
    font-size: 0.99rem; }

.content-top-img {
  width: 50%;
  text-align: right; }
  .content-top-img img {
    width: 100%; }

.content-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.banner-content-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  padding-bottom: 55px; }

.banner-content-footer__text {
  color: #a4d1fc;
  margin-top: 5px; }

.banner-content-footer-company {
  width: 67%;
  text-align: center; }
  .banner-content-footer-company img {
    width: 9%;
    margin-right: 30px; }
    .banner-content-footer-company img:last-child {
      width: 15%; }
    .banner-content-footer-company img:nth-last-child(2) {
      width: 14%; }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px; }

.logo {
  margin-right: 130px; }

.logo__link {
  font-size: 2.25rem;
  color: #fff;
  text-decoration: none; }

.menu__navigation {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__item {
  list-style-type: none;
  margin-right: 24px; }

.menu__link {
  text-decoration: none;
  color: #d1e6fc;
  font-size: 0.8rem; }
  .menu__link:hover {
    color: #fff; }

.shakers {
  margin-bottom: 50px; }

.shakers-content {
  border-bottom: 1px solid #1e91f7; }

.shakers-slider {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: none; }

.slider__item {
  width: 100%;
  height: 320px;
  border-right: 1px solid #1e91f7;
  position: relativefooter-content-top-block;
  text-align: center; }
  .slider__item h4 {
    margin: 0;
    padding: 20px 0 20px 0; }

.shakers__link {
  position: relative; }

.slider__img {
  height: 250px !important;
  width: auto !important;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: initial; }

.slider__button-left,
.slider__button-right {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 25px; }
  .slider__button-left:hover,
  .slider__button-right:hover {
    opacity: 0.7; }
  .slider__button-left:after,
  .slider__button-right:after {
    width: 54px;
    height: 58px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    content: ''; }

.slider__button-right {
  right: 0;
  border-left: 1px solid #1e91f7; }
  .slider__button-right:after {
    background: url(../img/arrow2.png);
    right: -90px; }

.slider__button-left {
  left: 0;
  border-right: 1px solid #1e91f7; }
  .slider__button-left:after {
    background: url(../img/arrow1.png);
    left: -90px; }

.accessories-content h2 {
  width: 47%;
  margin: auto;
  margin-bottom: 50px; }

.accessories-block p {
  color: #677483;
  font-size: 1.3rem; }

.accessories-block-one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px; }

.accessories-block-one-text {
  width: 34%; }

.accessories-block-one-img {
  width: 50%;
  text-align: end; }
  .accessories-block-one-img img {
    width: 85%; }

.accessories-block-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 100px; }

.accessories-block-two-img {
  width: 50%;
  text-align: center; }
  .accessories-block-two-img img {
    width: 65%; }

.accessories-block-two-text {
  width: 34%; }

.faq-content {
  margin-bottom: 90px; }

.faq-content-block-container {
  text-align: center; }

.faq-content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 50px; }

.faq-content-block-container-quote {
  position: relative; }
  .faq-content-block-container-quote img {
    width: 85%; }
  .faq-content-block-container-quote p {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0px;
    bottom: 0;
    width: 57%;
    margin: auto;
    color: #fff;
    font-size: 0.95rem;
    text-align: left; }

.faq-content-block-container-author {
  text-align: left;
  margin-left: 30px; }
  .faq-content-block-container-author p {
    margin: 0;
    color: #677483;
    margin-top: 5px; }

.about {
  background-color: #0f88f3;
  text-align: center; }

.about-content {
  padding: 80px 0; }
  .about-content h2 {
    color: #fff;
    width: 50%;
    margin: auto; }
  .about-content p {
    color: #d1e6fc;
    margin-top: 25px;
    margin-bottom: 40px; }

.footer-content-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px; }

.footer-content-top-block {
  width: 20%;
  margin-right: 60px; }
  .footer-content-top-block:nth-child(1) {
    margin-left: 40px; }
  .footer-content-top-block p {
    font-size: 0.86rem;
    color: #323232; }

.footer__email {
  color: #3874ca;
  text-decoration: none; }
  .footer__email:hover {
    color: #2366c7; }

.footer-content-top-block_social a {
  font-size: 1.1rem;
  margin-right: 10px; }

.footer-content-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 50px; }
  .footer-content-bottom button {
    color: #fff;
    background-color: #4366b3;
    border: none;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.7rem;
    padding: 3px 4px; }

.footer-content-bottom__like {
  margin-right: 10px; }
  .footer-content-bottom__like i {
    padding-right: 8px; }

.footer-content-bottom__rights {
  font-size: 0.78rem;
  margin-left: 20px; }

@media screen and (min-width: 1900px) {
  .content-top-text__link {
    width: 100%;
    text-align: left;
    margin-left: 50px; }
  .banner-content-footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .content-top-text {
    margin-top: 150px; }
  .faq-content-block-container-quote p {
    font-size: 1.3rem;
    top: 70px;
    line-height: 2.2rem; }
  h5 {
    font-size: 1.4rem; }
  h6 {
    font-size: 1rem; }
  .footer-content-top-block p {
    font-size: 0.9rem; }
  .footer-content-top-block_social a {
    font-size: 1.2rem; }
  .faq-content-block-container-author {
    margin-left: 60px;
    font-size: 1.3rem; } }

@media screen and (max-width: 1200px) {
  .accessories-block-one-img img {
    width: 97%; }
  .accessories-block-one-text {
    width: 44%; }
  .accessories-block-two-img img {
    width: 83%; }
  .accessories-block-two-text {
    width: 42%; }
  .faq-content-block-container-quote img {
    width: 92%; }
  .faq-content-block-container-quote p {
    width: 67%;
    top: 22px;
    left: 25px;
    font-size: 0.9rem; }
  .faq-content-block-container-author {
    margin-left: 10px; } }

@media screen and (max-width: 770px) {
  .menu__btn {
    display: block; }
  .menu__list {
    display: none;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  .menu__link {
    font-size: 1rem; }
  .menu-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all ease 0.3;
    -o-transition: all ease 0.3;
    transition: all ease 0.3; }
  .main-header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slider__item {
    border: 0; }
  .slider__button-left,
  .slider__button-right {
    display: none; }
  h1 {
    font-size: 1.7rem; }
  .content-top-text {
    margin: 0; }
  .content-top {
    margin-top: 20px; }
  .banner-content-footer__text {
    font-size: 0.7rem; }
  .banner-content-footer-company img {
    margin-right: 16px; }
  .banner-content-footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .content-top-text__link {
    width: 80%; }
  h2 {
    font-size: 1.5rem; }
  h3 {
    font-size: 1.3rem; }
  h4 {
    font-size: 1rem; }
  .accessories-content h2 {
    width: 73%; }
  .shakers__slider {
    width: 100%; }
  .slick-prev {
    display: none !important; }
  .slick-next {
    display: none !important; }
  .accessories-block-one {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0; }
  .accessories-block-one-text {
    text-align: center;
    width: 72%; }
  .accessories-block p {
    font-size: 1.1rem;
    text-align: left; }
  .accessories-block-two {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .accessories-block-two-text {
    text-align: center;
    width: 72%; }
  .accessories-block-one-img {
    width: 60%;
    margin-top: 10px; }
  .accessories-block-two-img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 60%;
    margin-top: 10px; }
  .faq-content-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .faq-content-block-container-quote img {
    width: 55%; }
  .faq-content-block-container-quote p {
    width: 39%;
    font-size: 0.95rem;
    top: 42px; }
  .faq-content-block-container-author {
    margin-left: 160px;
    margin-bottom: 30px; }
  .about-content {
    padding-top: 60px; } }

@media screen and (max-width: 430px) {
  .menu-active {
    display: block;
    position: absolute;
    right: 50px;
    background-color: #057de5;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 10px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .menu__link {
    font-size: 1.4rem; }
  .menu__item {
    margin: 10px 0; }
  .content-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .content-top-img {
    width: 100%; }
  .content-top-text {
    width: 100%;
    text-align: center; }
  .content-top-text__link {
    width: 100%; }
  .banner-content-footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .banner-content-footer__text {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; }
  .banner-content-footer-company {
    width: 100%; }
  .banner-content-footer-company img {
    width: 19%;
    margin-bottom: 8px; }
  .banner-content-footer-company img:nth-last-child(2) {
    width: 24%; }
  .banner-content-footer-company img:last-child {
    width: 25%; }
  .shakers__slider img {
    width: 100%; }
  .hercules img {
    margin: 0;
    width: 50%; }
  h4 {
    font-size: 0.9rem; }
  h1 {
    font-size: 1.6rem; }
  h2 {
    font-size: 1.2rem; }
  h3 {
    font-size: 1.05rem; }
  .accessories-content h2 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px; }
  .accessories-block-one-text {
    width: 100%; }
  .accessories-block p {
    font-size: 1rem; }
  .accessories-block-one-img {
    width: 100%; }
  .accessories-block-two-text {
    width: 100%; }
  .accessories-block-two-img {
    width: 100%; }
  .accessories-block-two {
    margin-bottom: 60px; }
  .faq__content__block {
    margin-top: 30px; }
  .faq-content-block-container-quote img {
    width: 96%; }
  .faq-content-block-container-quote p {
    font-size: 0.85rem;
    width: 67%;
    top: 22px; }
  .faq-content-block-container-author {
    margin-left: 12px; }
  .faq-content {
    margin-bottom: 50px; }
  .about-content h2 {
    width: 90%; }
  .about-content p {
    font-size: 0.8rem;
    width: 90%;
    margin: 35px auto; }
  .footer-content-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .footer-content-top-block:nth-child(1) {
    margin: 0; }
  .footer-content-top-block {
    width: 100%;
    margin: 0; }
  h6 {
    margin-bottom: 12px; }
  .footer-content-bottom {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: 0;
    margin-top: 60px; }
  .footer-content-bottom__rights {
    margin: 0;
    margin-top: 10px; } }
